.header-container{
    width: 100%;
    height: 100vh;
    background: url(https://4kwallpapers.com/images/walls/thumbs_3t/15521.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}