.shop-container {
  background: url(../../assets/images/shop-wall.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-color: rgba(20, 51, 75, 0.319);
  background-blend-mode: saturation;
}
