
.box-item{
    border: 0.3px dashed rgba(83, 83, 83, 0.439) ;
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.369));
    transition: all 0.2s;
    
}
.box-item:hover{
filter: drop-shadow(0 0 0 );
}
.odd{
    box-shadow: rgba(255, 0, 0, 0.344) 0px 7px 29px 0px;
    border-radius: 30% 70% 70% 30% / 30% 30% 70% 70% ;

}
.even{
    box-shadow: rgba(47, 0, 255, 0.321) 0px 7px 29px 0px;
    border-radius: 36% 64% 42% 58% / 19% 56% 44% 81% ;

}
.box-item img{
    transition: all 0.4s;
    
}
.box-item img:hover{
transform: scale(1.5);
cursor: pointer;

}